.text-center {
    background-color: black;
}

#navegacion {
    background-color: black;
    text-align: right;
}

    #navegacion a {
        text-align: right;
        font-size: 30px;
        color: white;
    }

.prueba {
    width: 30%;
    height: 30%;
    background-color: red;
}

#medio {
    background-color: #E5E5E5;
}

#abajo {
    background-color: #E7C42C;
}

#prueba {
    background-color: red;
}

#serviciosDivs {
    text-align: center;
    background-color: white;
}

    #serviciosDivs img {
        width: 200px;
        height: 200px;
    }
